.ForwarderShowHeader {
  background: #FFF;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ForwarderEmptyState {
  width: 800px;
  background: #FFF;
  margin: 50px auto;
  padding: 50px;
}

.ForwarderShowHeaderWrap {
  margin: 0 auto;
  padding: 32px 0 0;
}

.ForwarderShowHeaderWrap .PageHeader {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.ForwarderShowPageActions .Button {
  border: 1px solid #FFF;
  margin-left: 16px;
  padding: 6px 12px;

  color: #FFF;
}

.ForwarderShowPageActions .Button--delete {
  border: none;
}

.ForwarderShowPageActions .Button:hover {
  color: #FFF;
  background: rgba(255, 255, 255, 0.1);
}



.breadcrumb .Breadcrumb-fragment {
  color: #FFF;
}

.Breadcrumb-fragment--link:hover {
  color: #FFF;
}

.Nav-item {
  color: rgba(255, 255, 255, 0.85);
}

.Nav-item:hover {
  color: #FFF;
}

.Nav-item--active {
  color: #FFF;
  border-color: #FFF;
  font-family: 'citrixsans-regular', sans-serif;
}
