.ForwarderShow-header {
  background: #1961A0;
}

.ForwarderShow-headerWrap {
  margin: 0 auto;
  padding: 32px 0 0;
}

.ForwarderShow-headerWrap .Page-header {
  margin-bottom: 16px;
}

.ForwarderShow-pageActions .Button {
  border: 1px solid #FFF;
  margin-left: 16px;
  padding: 6px 12px;

  color: #FFF;
}

.ForwarderShow-pageActions .Button:hover {
  color: #FFF;
  background: rgba(255, 255, 255, 0.1);
}


.Breadcrumb-fragment {
  color: #FFF;
}

.Breadcrumb-fragment--link:hover {
  color: #FFF;
}

.Nav-item {
  color: rgba(255, 255, 255, 0.85);
}

.Nav-item:hover {
  color: #FFF;
}

.Nav-item--active {
  color: #FFF;
  border-color: #FFF;
  font-family: 'citrixsans-regular', sans-serif;
}
