.Card {
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 250px;
  height: 250px;
  background: #FFF;
  margin: 0 25px 25px 0;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.Card-header {
  background: pink;
}

.Card-body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.Card-image {
  width: 80%;
  height: auto;
}


.Card-footer {
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 12px;
}

.Card-footerText {
  text-decoration: none;
}

.Card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
