
@import 'yeticss'

header
  margin-top: 30px

.Page
  width: 900px
  margin: 0 30px

.Page-nav
  height: 55px
  padding: 0 15px
  margin-bottom: 35px
  background: $blue-saturated
  overflow: hidden

  ul
    float: left
    margin-bottom: 0
  li
    display: inline-block
    padding: 16px 10px

  a
    color: #438193
    display: block

  a:hover
    color: #008dba

.Page-nav-list
  height: 55px

.Logo
  float: left
  width: 150px
  height: 31px
  margin-top 13px
  margin-right: 25px

.Logo-wrapper
  padding: 0 10px !important
  background: oldlace

.Card
  width: 200px
  margin: 0 25px 25px 0

.Card-thumbnail
  display: block
  width: 200px
  height 200px
  background: transparent
  border: 2px solid #e6eaed
  border-radius: 2px

  &:hover
    background: rgba(230, 234, 237, 0.21)

  img
    display: block
    width: 100%
    height: 100%

.Card-label
  width: 100%
  text-align: center
  color: #b7c0c3
  margin: 5px 0 10px


.EmptyState
  width: 100%
  max-width: 500px
  margin: 15px auto
  text-align: center

.Input-jumbo
  padding: 20px
  width: 500px
  font-size: 20px
  margin-bottom: 15px

.Button-jumbo
  border-radius: 0
  padding: 20px
  font-size: 20px

.Breadcrumb-item
  font-size: 12px
  padding: 0 10px

.forwarder-detail
 &.thumbnail
  height : 160px
  width: 160px

.BluBot
  display: block
  width: 250px
  margin: 0 auto
  height: auto


.Spinner
  display: inline-block
  font-size: 8px
  height: 8px
  position: relative
  text-align: center
  vertical-align: middle

.Spinner_dot
  -webkit-animation: pulse 1s infinite ease-in-out
  -o-animation: pulse 1s infinite ease-in-out
  animation: pulse 1s infinite ease-in-out
  height: 1em
  width: 1em
  border-radius: 50%
  display: inline-block
  vertical-align: top

.Spinner_dot--second
  -webkit-animation-delay: 160ms
  animation-delay: 160ms
  margin-left: 1em

.Spinner_dot--third
  -webkit-animation-delay: 320ms
  animation-delay: 320ms
  margin-left: 1em

.Spinner--default > .Spinner_dot
  background-color: #999999

.Spinner--primary > .Spinner_dot
  background-color: #1385e5

.Spinner--inverted > .Spinner_dot
  background-color: white

.Spinner--default > .Spinner_dot
  background-color: #999999

.Spinner--primary > .Spinner_dot
  background-color: #1385e5

.Spinner--inverted > .Spinner_dot
  background-color: white

.Spinner--sm
  font-size: 4px
  height: 4px

.Spinner--lg
  margin: 0 auto
  font-size: 24px
  height: 24px


@-webkit-keyframes pulse
  0%,
  80%,
  100%
    opacity: 0

  40%
    opacity: 1


@keyframes pulse
  0%,
  80%,
  100%
    opacity: 0

  40%
    opacity: 1
