.SubscriptionEditor-table td,
.SubscriptionEditor-table th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e6eaed;
}

.SubscriptionEditor-table tr:nth-child(even) {
  background-color: #fafbfb;
}

.SubscriptionEditor-table td.SubscriptionEditor-tableCellCenter,
.SubscriptionEditor-table th.SubscriptionEditor-tableCellCenter {
  text-align: center;
}
