.SubscriptionEditorTable {
  width: 100%;
}

.SubscriptionEditorTable td,
.SubscriptionEditorTable th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e6eaed;
}

.SubscriptionEditorTable tr:nth-child(even) {
  background-color: #fafbfb;
}

.SubscriptionEditorTable td.SubscriptionEditorTableCellCenter,
.SubscriptionEditorTable th.SubscriptionEditorTableCellCenter {
  text-align: center;
}
